---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPostSummary from "../components/BlogPostSummary.astro";

const pageTitle = "Tips, tricks, and tutorials for web developers.";
const allPosts = await Astro.glob("../pages/posts/*.md*");
const publishedPosts = allPosts
  .filter((post) => post.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      (new Date(b.frontmatter.pubDate) as any) -
      (new Date(a.frontmatter.pubDate) as any)
  );
---

<style>
  ul {
    list-style: none;
    padding: 0;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <h1>Tips</h1>
  {
    publishedPosts.map((post) => (
      <BlogPostSummary
        url={post.url}
        title={post.frontmatter.title}
        date={post.frontmatter.pubDate}
        description={post.frontmatter.description}
      />
    ))
  }
</BaseLayout>
